<% layout("layouts/boilerplate") %>

<body>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card listing-card">
        <br />
        <h3 class="card-title mb-3"><strong><%= listing.title %></strong></h3>
        <br />
        <img
          src="<%= listing.image %>"
          class="card-img-top show_img"
          alt="listing-image"
        />
        <br />
        <div class="card-body">
          <p class="card-text">
            <br />
            <%= listing.description %><br />
            ₹ <%= listing.price.toLocaleString("en-IN") %><br />
            <%= listing.country %><br />
            <%= listing.location %>
          </p>
        </div>
        <br />

        <div class="card-footer d-flex">
          <a href="/listing/<%= listing._id %>/edit" class="btn btn-primary"
            >Edit</a
          >

          <form
            action="/listing/<%= listing._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
        <br />
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt=3">
    <div class="col-8">
      <hr />
      <h3>Leave a Review</h3>
      <form
        action="/listing/<%= listing._id %>/review"
        method="POST"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input
            type="range"
            name="review[rating]"
            id="rating"
            min="0"
            max="5"
            class="form-range"
          />
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea
            name="review[comment]"
            id="comment"
            cols="20"
            rows="5"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please add some comment for review</div>
        </div>

        <button class="btn btn-outline-dark mb-3">Submit</button>
      </form>
      <hr />
      <p><strong>All Reviews</strong></p>
      <div class="row">
        <% for (let review of listing.reviews) { %>
        <div class="card col-5 ms-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <p class="card-text"><%= review.comment %></p>
            <p class="card-text">
              <% for(let i = 0; i < review.rating; i++) { %> ⭐ <% } %>
              <small class="text-muted">(<%= review.rating %> stars)</small>
            </p>
            <form
              action="/listing/<%= listing._id %>/review/<%= review._id %>?_method=DELETE"
              method="POST"
              class="mb-3"
            >
              <button type="submit" class="btn btn-outline-danger btn-sm">
                Delete
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
